.login-form{

    max-width: 460px;
    margin: auto;
    margin-top: 20px;
    padding: 35px;
    background-color: white;
    border:1px solid lightgray

}
.bg-color{
    background-color:white;
}
.googleFb img{
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;


}

.googleFb{
max-width: 400px;
margin: auto;
}

.login-option{
    cursor: pointer;
}