.App {
  background-image: url("./Image/background.png");
  background-color: white;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
